.home-container {
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	color: rgb(0, 88, 138);
}

body{
	background: rgb(0,88,138);
}

/* CSS for Header */

.nav-top {
    display: flex;
	flex-direction: row;
    width: 100%;
    position: relative;
}

.logo {
    flex: 1;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
    color: rgb(0,88,138);
    padding-left: 2rem;	
}

.conf-name {
	flex:1;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    color: white;
	margin:0;	
}

.udm-logo {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.udm-logo:hover {
    transform: translateY(-10px);
	background:rgb(0,125,190);
 }

.navbar{
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	height: 80px;
	width: 100%;
	top: 19rem;
	left: 0;
	background: rgba(0,0,0,0.4);
}

.navbar ul{
	float: left;
	margin-right: 20px;
	
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: rgb(99,100,102);
	border-radius: 2px;
}

/* CSS for Body part */

.info{
	position:relative;
	display:flex;
	flex-direction:row;
}

.description{
	border: 2px solid black;
	flex: 2;
	font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: justify;
	color: white;
}

.announcements{
	flex:1;
	border: 2px solid black;
	margin-left:2px;
	display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.dateEdit{
	padding: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
}

.date{
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #00ff00 0%, #ffffff 29%, #ff1361 67%, #fff800 100% );
    background-size: 200% auto;
    color: #fff;	
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
    display: inline-block;
}

.list{
	padding: 1rem;
    font-weight: 300;
    color: white;
    font-size: 1.3rem;
}

.details-container{
	display:flex;
	flex:wrap;
	
}

.sources{
	flex:3;
	flex-direction: column;
	background-image: linear-gradient( #ffffff ,rgb(0,88,138));
	justify-content:center;
}

.prev-conference{
	background-image: linear-gradient( #ffffff ,rgb(0,88,138));
	flex:1;
}

.prev{
    color: black;
	font-size: 2rem;
	display:flex;
	flex-direction:column;
}

/* CSS for Footer*/

.socials {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 50px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  .socials {
    grid-auto-flow: column;
  }
}

.socials-a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.socials-a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

/* contains animation in footer part */

.footer {
  display: flex;
  height: 20vh;
  width: 100%;
  line-height: 1.3;
  font-family: Menlo, monospace;
  font-size: 1.5rem;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
