.home-container {
    display: flex;
	flex-wrap: wrap;
    background-color: rgb(167,169,172);
}

.navbar{
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	height: 80px;
	width: 100%;
	top: 19rem;
	left: 0;
	background: rgba(0,0,0,0.4);
}

.navbar ul{
	float: left;

	
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: rgb(99,100,102);
	border-radius: 2px;
}

.nav-logo{
	height: 55px;
	width: 100%;
}

.abstract{
    margin: 0px 20px 0px 20px;
	color:black;
	font-size:130%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row{
	display:flex;
}

/* Three columns side by side */
.speaker-container {
  flex-direction: row;
  flex:1;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the description below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .speaker-container  {
    width: 100%;
	height:80%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
  background-color: white;
}

.container::after, .row::after {
  content: "";
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: all 0.5s;
}

.button:hover {
  background-color: #555;
}